<ion-header>
  <ion-toolbar>
    <ion-title>{{book?.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form  [formGroup]="editBookForm" (ngSubmit)="editBookFormData()">
    <ion-list>
      
      <ion-item>
        <ion-label>Book Title:</ion-label>
        <ion-input formControlName="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Author's First Name:</ion-label>
        <ion-input formControlName="fname"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Author's Last Name:</ion-label>
        <ion-input formControlName="lname"></ion-input>
      </ion-item>
      <ion-item >
        <ion-label>Release Date:</ion-label>
        <ion-input formControlName="date"></ion-input>
      </ion-item>
    </ion-list>

<ion-button type="submit" expand="block"> Edit Book </ion-button>
</form>
</ion-content>