<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Add A Book
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label>Book Title:</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Author's First Name:</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Author's Last Name:</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item >
      <ion-label>Release Date:</ion-label>
      <ion-input></ion-input>
      <ion-icon name="add-circle-sharp"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
